In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Azalia\Documents\Projects\Self-Study\CareerFoundry\Instacart Analysis"

In [3]:
# import ord_prod data
df_ord_prod_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ord_prod_cust.pkl'))

df_ord_prod_cust['frequency_flag'].value_counts()

In [4]:
df_ord_prod_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int32
 3   order_day_of_week             int32
 4   order_hour_of_day             int32
 5   days_since_last_order         float32
 6   NaN_Flag                      bool
 7   product_id                    float32
 8   add_to_cart_order             float32
 9   reordered                     bool
 10  product_name                  object
 11  aisle_id                      int32
 12  department_id                 int32
 13  prices                        float32
 14  _merge                        category
 15  price_range_loc               object
 16  busiest_day                   object
 17  updated_busiest_day           object
 18  busiest_period_of_day         object
 19  max_order                     int32
 20  loyalty_flag                  object
 21  ave_prices                    float32
 22  spending_flag                 object
 23  median_days_since_last_order  float32
 24  frequency_flag                object
 25  first_name                    object
 26  last_name                     object
 27  gender                        object
 28  state                         object
 29  age                           int32
 30  date_joined                   object
 31  num_dependents                int32
 32  marital_status                object
 33  income                        int32
dtypes: bool(2), category(1), float32(6), int32(11), object(14)
memory usage: 5.8+ GB

In [5]:
df_ord_prod_cust.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,aisle_id,department_id,prices,max_order,ave_prices,median_days_since_last_order,age,num_dependents,income
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240485e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.024203e+01,2.398573e+04,7.598854e+00,7.119612e+01,9.919792e+00,1.021125e+01,3.305217e+01,1.004174e+01,9.240366e+00,4.946527e+01,1.501896e+00,9.943773e+04
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.495049e+00,1.373331e+04,6.597816e+00,3.821139e+01,6.281485e+00,4.956361e+02,2.515525e+01,8.321326e+01,6.873613e+00,1.848558e+01,1.118865e+00,4.305727e+04
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387299e+00,6.000000e+00,3.300000e+01,1.000000e+00,6.700400e+04
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824786e+00,8.000000e+00,4.900000e+01,2.000000e+00,9.661800e+04
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254023e+00,1.300000e+01,6.500000e+01,3.000000e+00,1.279120e+05
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,2.500543e+04,3.000000e+01,8.100000e+01,3.000000e+00,5.939010e+05

# reducing memory: changing for datatypes
# changing data types using list
df_ord_prod_cust.astype({'order_number':'int8', 'order_day_of_week':'int8','order_hour_of_day':'int8', 'aisle_id':'int8','department_id':'int8','prices':'float32','ave_prices':'float32'})

In [6]:
#df_ord_prod_cust['order_id']=df_ord_prod_cust['order_id'].astype('int32')
df_ord_prod_cust['user_id']=df_ord_prod_cust['user_id'].astype('str')
df_ord_prod_cust['order_number']=df_ord_prod_cust['order_number'].astype('int8')
df_ord_prod_cust['order_day_of_week']=df_ord_prod_cust['order_day_of_week'].astype('int8')

In [7]:
df_ord_prod_cust['order_hour_of_day']=df_ord_prod_cust['order_hour_of_day'].astype('int8')
df_ord_prod_cust['days_since_last_order']=df_ord_prod_cust['days_since_last_order'].astype('float16')
df_ord_prod_cust['aisle_id']=df_ord_prod_cust['aisle_id'].astype('int16')
df_ord_prod_cust['department_id']=df_ord_prod_cust['department_id'].astype('int8')

In [8]:
df_ord_prod_cust['product_id']=df_ord_prod_cust['product_id'].astype('float16')
df_ord_prod_cust['add_to_cart_order']=df_ord_prod_cust['add_to_cart_order'].astype('float16')
#check df_ord_prod_cust['prices']=df_ord_prod_cust['prices'].astype('float16')
df_ord_prod_cust['ave_prices']=df_ord_prod_cust['ave_prices'].astype('float16')

In [9]:
df_ord_prod_cust['price_range_loc']=df_ord_prod_cust['price_range_loc'].astype('category')
df_ord_prod_cust['busiest_day']=df_ord_prod_cust['busiest_day'].astype('category')
df_ord_prod_cust['updated_busiest_day']=df_ord_prod_cust['updated_busiest_day'].astype('category')
df_ord_prod_cust['busiest_period_of_day']=df_ord_prod_cust['busiest_period_of_day'].astype('category')
df_ord_prod_cust['loyalty_flag']=df_ord_prod_cust['loyalty_flag'].astype('category')
df_ord_prod_cust['spending_flag']=df_ord_prod_cust['spending_flag'].astype('category')
df_ord_prod_cust['frequency_flag']=df_ord_prod_cust['frequency_flag'].astype('category')

In [10]:
df_ord_prod_cust['max_order']=df_ord_prod_cust['max_order'].astype('int8')
df_ord_prod_cust['median_days_since_last_order']=df_ord_prod_cust['median_days_since_last_order'].astype('float16')

In [11]:
df_ord_prod_cust['gender']=df_ord_prod_cust['gender'].astype('category')
df_ord_prod_cust['age']=df_ord_prod_cust['age'].astype('int8')
df_ord_prod_cust['marital_status']=df_ord_prod_cust['marital_status'].astype('category')
df_ord_prod_cust['num_dependents']=df_ord_prod_cust['num_dependents'].astype('int8')
#df_ord_prod_cust['income']=df_ord_prod_cust['income'].astype('int16')

In [12]:
df_ord_prod_cust.describe()

,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,aisle_id,department_id,prices,max_order,ave_prices,median_days_since_last_order,age,num_dependents,income
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,30328763.0,32404859.0,32404859.0,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,32404854.0,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.714230e+01,2.738867e+00,1.342515e+01,NaN,NaN,NaN,7.119612e+01,9.919792e+00,1.021125e+01,3.305217e+01,NaN,NaN,4.946527e+01,1.501896e+00,9.943773e+04
std,9.872988e+05,1.753532e+01,2.090077e+00,4.246380e+00,0.0,NaN,0.0,3.821139e+01,6.281485e+00,4.956361e+02,2.515525e+01,NaN,0.0,1.848558e+01,1.118865e+00,4.305727e+04
min,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.0,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0,1.800000e+01,0.000000e+00,2.590300e+04
25%,8.559470e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.0,13544.0,3.0,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.386719e+00,6.0,3.300000e+01,1.000000e+00,6.700400e+04
50%,1.711049e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.0,25296.0,6.0,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824219e+00,8.0,4.900000e+01,2.000000e+00,9.661800e+04
75%,2.565499e+06,2.400000e+01,5.000000e+00,1.600000e+01,15.0,37952.0,11.0,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.257812e+00,13.0,6.500000e+01,3.000000e+00,1.279120e+05
max,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,30.0,49696.0,145.0,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,2.500800e+04,30.0,8.100000e+01,3.000000e+00,5.939010e+05

In [13]:
df_ord_prod_cust.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,NaN_Flag,product_id,add_to_cart_order,reordered,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,num_dependents,marital_status,income
0,2539329,1,1,2,8,NaN,True,196.0,1.0,False,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
5,3367565,1,6,2,7,19.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
6,550135,1,7,1,9,20.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
7,3108588,1,8,1,14,14.0,False,196.0,2.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
8,2295261,1,9,1,16,0.0,False,196.0,4.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
9,2550362,1,10,4,8,30.0,False,196.0,1.0,True,...,non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [14]:
df_ord_prod_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       object
 2   order_number                  int8
 3   order_day_of_week             int8
 4   order_hour_of_day             int8
 5   days_since_last_order         float16
 6   NaN_Flag                      bool
 7   product_id                    float16
 8   add_to_cart_order             float16
 9   reordered                     bool
 10  product_name                  object
 11  aisle_id                      int16
 12  department_id                 int8
 13  prices                        float32
 14  _merge                        category
 15  price_range_loc               category
 16  busiest_day                   category
 17  updated_busiest_day           category
 18  busiest_period_of_day         category
 19  max_order                     int8
 20  loyalty_flag                  category
 21  ave_prices                    float16
 22  spending_flag                 category
 23  median_days_since_last_order  float16
 24  frequency_flag                category
 25  first_name                    object
 26  last_name                     object
 27  gender                        category
 28  state                         object
 29  age                           int8
 30  date_joined                   object
 31  num_dependents                int8
 32  marital_status                category
 33  income                        int32
dtypes: bool(2), category(10), float16(5), float32(1), int16(1), int32(2), int8(7), object(6)
memory usage: 3.0+ GB

In [15]:
df_ord_prod_cust.to_pickle(os.path.join(path,'02 Data','Prepared Data','ord_prod_cust2.pkl'))